<div class="container">
  <h2>Lista de Produtos</h2>

  <!-- Filtro de Categoria -->
  <select #categorySelect (change)="filterByCategory(categorySelect.value)">
    <option value="Todos">Todos</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>

  <!-- Exibição dos Produtos -->
  <div class="product-grid">
    <div *ngFor="let product of filteredProducts; let i = index" class="product-card">
      <h3>{{ product.title }}</h3>
      
      <div class="images">
        <img *ngFor="let image of product?.images" [src]="image" [alt]="product?.title" />
      </div>
      
      <h4 (click)="toggleAccordion(i)">
        {{ accordionStates[i] ? 'Esconder Descrição <' : 'Mostrar Descrição >' }}
      </h4>
      <div *ngIf="accordionStates[i]" class="accordion-content descricao">
        <p>{{ product?.description }}</p>
      </div>

      <a [href]="'https://wa.me/5581981699096?text=Estou%20interessado%20em%20comprar%20o%20produto%20' + product.title" target="_blank">
        <button>Comprar</button>
      </a>
    </div>
  </div>
</div>