<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; 2024 Gal Store. Todos os direitos reservados.</p>
      <ul class="footer-links">
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <div>
          <li> <a
              href="https://wa.me/5581981699096?text=Olá%20estou%20entrando%20em%20contato%20para%20mais%20informações"
              target="_blank">
              <img src="../../../assets/whatsapp.svg" alt="logoWhatsApp">
            </a></li>
          <li><a href="#" target="_blank"><img src="../../../assets/instagram.svg" alt="logoInstagram"></a></li>
        </div>
      </ul>
    </div>
  </div>
</footer>