* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background: rgb(198, 168, 34);
    height: 100vh;
}







/* footer */
.footer {
  background: rgb(159, 141, 60);
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  